/*font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

h3 {
    font-size: 25px;
    margin-bottom: 19px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    padding: 113px;
}

p {
    margin: 0;
}

.container {
    max-width: 1170px;
    /*позиционирование по центру*/
    margin: 0 auto; 
}

.header {
    background: url('../img/header-bg.jpg') no-repeat center top /cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 6%;
}

.menu {
    display: flex;
}
.menu li {
    margin-right: 20%;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    text-decoration: underline;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

header a {
    color: #fff;
}

.offer {
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
}
.offer h1 {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.discription {
    display: flex;
    justify-content: space-between;
}

.discription p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.desc-left, .desc-right {
    max-width: 48%;
}

.gallery {
    padding-top: 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    padding-bottom: 20px;
}

.gallery img:nth-of-type(2) {
    padding: 0 5px 20px 5px;
}


.gallery img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 90px 0;
}

.footer-text p {
    margin-right: 67px;
}
