* {
    margin: 0;
    padding: 0;
}

body {   
    color: #afafaf;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #000; 
}

.gradient {
    background-image: linear-gradient(to top, #fff 0%, #000 100%);
}

.btns-block {
    margin: auto;
}

.btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: #6496c8;
    box-shadow: 0 5px #27496d;
    width: 160px;
    height: 40px;
    transform: all 0.2s linear;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #417cb8
} 

.btn:active, .btn.active {
    background-color: #417cb8;
    box-shadow: 0 2px #27496d;
    transform: translateY(3px);
}

.btn-info {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 147px;
    height: 24px;
    margin: 15px 6px 5px 7px;
}

.clicked-btn {
    background-color: #417cb8;
    box-shadow: 0 2px #27496d;
    transform: translateY(3px);
}


/*
section.press button {
color: #fff;
background-color: #6496c8;
border: none;
border-radius: 15px;
box-shadow: 0 10px #27496d;
}
section.press button:hover,
section.press button.hover {
background-color: #417cb8
}
section.press button:active,
section.press button.active {
background-color: #417cb8;
box-shadow: 0 5px #27496d;
transform: translateY(5px);
}


.info-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: 2px solid #E51937;
    width: 160px;
    height: 40px;
    transform: all 0.2s linear;
}

.info-btn:hover {
    border: 3px solid #E51937;
} 

.btn {
    font-weight: bold;
    color: #E51937;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 147px;
    height: 24px;
    margin: 11px 6px 5px 7px;
}
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
*/