* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.header {

}

.container {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 60px 58px 43px;
}

.menu_1, .menu_2 {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu_2 .menu-item {
    margin-right: 30px;
}

.menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px transparent solid;
    transition: 0.2s ;
}

.menu-item:hover, .menu-item.active {
    border-bottom: 2px solid #E51937;
    color: #E51937;
}

.item1 {
    margin-right: 63px;
}

.item2 {
    margin-right: 25px;
}

.item3 {
    margin-right: 44px;
}

.item4 {
    margin-right: 46px;
}

.tesla-title {
    text-align: center;
    background-image: url(../img/Tesla-Wordmark-Red2.png);
    background-repeat: no-repeat;
    background-size: 1514px 467px;
    min-height: 467px;
    margin-bottom: 26px;
}

.tesla-title h1 { 
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
}

.tesla-title p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.tesla-title img {
    max-width: 968px;
    padding-top: 14px;
}

.tesla-info {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.info-block {
    display: flex;
    align-items: center;
}

.info-block-img {
    width: 46px;
    height: 34.13px;
}

.info-block-img2 {
    width: 26.4px;
    height: 42.37px;
    margin-left: 82px;
}

.info-block-img3 {
    width: 22px;
    height: 22px;
    margin-right: 7px;
    margin-left: 109px;
    cursor: pointer;
}

.info-block-text1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    margin-right: 6px;
    margin-left: 14px;
}

.info-block-text1 span {
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
}

.info-block-text2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-left: 14px;
}

.info-block-text3 {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 40px;
    cursor: pointer;
}

.info-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: 2px solid #E51937;
    width: 160px;
    height: 40px;
    transform: all 0.2s linear;
}

.info-btn:hover {
    border: 3px solid #E51937;
} 

.btn {
    font-weight: bold;
    color: #E51937;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 147px;
    height: 24px;
    margin: 11px 6px 5px 7px;
}

.go-bottom {
    display: block;
    text-align: center;
}

@media (max-width: 768px) {

    .container {
        width: 768px;
    }
    
    .navigation {
        margin: 0px 21px 26px 2px;
    }

    .menu-item {
        display: none;
    }

    .logo a img{
        width: 166px;
        height: 51px;
        left: calc(50% - 166px/2 - 285.68px);
        top: 24px;
    }

    .menu_2 li img {
        width: 35.23px;
        height: 22.02px;
        left: calc(50% - 35.23px/2 + 333.38px);
        top: 38.49px;
    }

    .tesla-title {
        background-size: 100%;
        background-position-x: 50%;
        background-position-y: 43%;
        min-height: 300px; 
        margin-bottom: 12px;
    }

    .tesla-title h1 {
        font-size: 90px;
        line-height: 110px;
    }

    .tesla-title p {
        font-size: 15px;
        line-height: 18px;
    }

    .tesla-title img {
        max-width: 673px;
        padding-top: 87px;
    }

    .tesla-info {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    
    .info-block {
        margin: 0;
    }

    .info-block:first-child {
        margin-left: 140px;
    }

    .info-block:nth-child(2) {
        margin-right: 140px;
    }

    .info-block:nth-child(3) {
        margin-left: 174px;
        margin-top: 84px;
    }

    .info-block:nth-child(4) {
        margin-right: 174px;
        margin-top: 57.81px;
    }

    .info-block-text1 {
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 61px;
    }

    .info-block-text1 span {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
    }

    .info-block-text2 {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 15px;
    }

    .info-block-text3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        color: #E51937;
    }

    .info-block-img {
        margin: 0;
        padding: 0;
        width: 65.92px;
        height: 48.91px;
        margin-right: 20.06px;
    }

    .info-block-img2 {
        margin: 0;
        padding: 0;
        width: 37.83px;
        height: 60.72px;
        margin-right: 17.91px;
    }

    .info-block-img3 {
        margin: 0;
        padding: 0;
        margin-right: 15px;
    }

    .info-btn {
        width: 220.84px;
        height: 55.21px;
        background-color: #e51937;

    }
    
    .btn {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        width: 202.9px;
        height: 33.13px;   
        margin: 20px 8px 5px 9px;
    }
}

@media (max-width: 375px) {

    .container {
        width: 375px;
        margin: 0 auto;
        border: 1px solid red;
    }

    .navigation {
        margin: 0px 21px 26px 2px;
    }

    .menu-item {
        display: none;
    }

    .logo a img{
        width: 138px;
        height: 42px;
    }

    .menu_2 li img {
        width: 24px;
        height: 15px;
    }

    .tesla-title {
        background-size: 100%;
        background-position-x: 50%;
        background-position-y: 50%;
        min-height: 300px; 
        margin-bottom: 12px;
    }

    .tesla-title h1 {
        font-size: 50px;
        line-height: 61px;
    }

    .tesla-title p {
        font-size: 10px;
        line-height: 12px;
    }

    .tesla-title img {
        max-width: 357px;
        padding-top: 49px;
    }

    .tesla-info {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 34px;
    }
    
    .info-block {
        margin: 0;
    }

    .info-block:first-child {
        margin-left: 42px;
    }

    .info-block:nth-child(2) {
        margin-right: 50px;
    }

    .info-block:nth-child(3) {
        margin-left: 36px;
        margin-top: 52px;
    }

    .info-block:nth-child(4) {
        margin-right: 36px;
    }

    .info-block-text1 {
        margin: 0;
        padding: 0;
        font-size: 27px;
        line-height: 33px;
    }

    .info-block-text1 span {
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 18px;
    }

    .info-block-text2 {
        padding: 0;
        margin: 0;
        font-size: 10px;
        line-height: 12px;
    }

    .info-block-text3 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 16px;
        color: #E51937;
    }

    .info-block-img {
        margin: 0;
        padding: 0;
        width: 38.14px;
        height: 27.98px;
        margin-right: 13.86px;
    }

    .info-block-img2 {
        margin: 0;
        padding: 0;
        width: 24.04px;
        height: 36.88px;
        margin-right: 14px;
    }

    .info-block-img3 {
        margin: 0;
        padding: 0;
        margin-right: 7px;
    }

    .info-btn {
        margin-top: 43px;
        background-color: #e51937;
    }
    
    .btn {
        color: #fff;
        
    }
}



