* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.header {

}

.container {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 60px 58px 43px;
}

.menu_1, .menu_2 {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu_2 .menu-item {
    margin-right: 30px;
}

.menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px transparent solid;
    transition: 0.2s ;
}

.menu-item:hover, .menu-item.active {
    border-bottom: 2px solid #E51937;
    color: #E51937;
}

.item1 {
    margin-right: 63px;
}

.item2 {
    margin-right: 25px;
}

.item3 {
    margin-right: 44px;
}

.item4 {
    margin-right: 46px;
}

.tesla-title {
    text-align: center;
    background-image: url(../img/Tesla\ logo\ +\ car.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 594px;
    margin-bottom: 26px;
}

.tesla-title h1 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;

}

.tesla-title p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.tesla-info {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.info-block {
    display: flex;
    align-items: center;
}

.info-block-img {
    width: 46px;
    height: 34.13px;
    margin-right: 14px;
}

.info-block-img2 {
    width: 26.4px;
    height: 42.37px;
    margin-right: 13.8px;
    margin-left: 82px;
}

.info-block-img3 {
    width: 22px;
    height: 22px;
    margin-right: 7px;
    margin-left: 109px;
    cursor: pointer;
}

.info-block-text1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    margin-right: 6px;
}

.info-block-text1 span {
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
}

.info-block-text2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.info-block-text3 {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 40px;
    cursor: pointer;
}

.info-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: 2px solid #E51937;
    width: 160px;
    height: 40px;
    transform: all 0.2s linear;
}

.info-btn:hover {
    border: 3px solid #E51937;
} 

.btn {
    font-weight: bold;
    color: #E51937;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 147px;
    height: 24px;
    margin: 11px 6px 5px 7px;
}

.go-bottom {
    display: block;
    text-align: center;
}

@media (max-width: 375px) {

    .container {
        width: 375px;
        margin: 0 auto;
        border: 1px solid red;
    }

    .navigation {
        margin: 5px 21px 30px 2px;
    }

    .menu-item {
        display: none;
    }

    .tesla-title {
        min-height: 200px;
        background-size: contain;
        background-position: center bottom;
        
    }

    .tesla-title h1 {
        font-size: 50px;
        line-height: 61px;
    }

    .tesla-title p {
        font-size: 10px;
        line-height: 12px;
    }

    .tesla-info {
        flex-wrap: wrap;
    }

    .info-block {
        margin-right: 0px;
    }

    .tesla-info:nth-child(2) {
        margin-right: 0;
    }


}
